header{
    height:var(--header-height);
    padding: 0 2rem;
    background-color: var(--main-color1);
    border-bottom: 0.7rem solid var(--reverse-color2);
    transition: background-color var(--g-transition-time), border-color var(--g-transition-time);
    justify-content: flex-start;
}


header>.divider-vertical{
    background-color: var(--reverse-color1);
    width:3px;
    height:80%;
    margin:0;
    padding:0;
    border: none;
    transition: background-color var(--g-transition-time);
}

/***********************************************Camera pop up************************************************************************/

.popup-menu input[type="range"],
#zoom-slider, #move-speed-control{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--main-color1);
    min-height:calc(2rem + 2px * 2);
    outline: none;
    transition: background-color var(--g-transition-time),border-color var(--g-transition-time);
    overflow: hidden;
}


.popup-menu input[type="range"]::-webkit-slider-thumb,
#zoom-slider::-webkit-slider-thumb, #move-speed-control::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--reverse-color1);
    width:1.7rem;
    height:1.7rem;
    transition: background-color var(--g-transition-time);
    box-shadow: -1000px 0 0 1000px var(--main-color3);
}


.popup-menu input[type="range"]::-webkit-slider-thumb:hover,
#zoom-slider::-webkit-slider-thumb:hover, #move-speed-control::-webkit-slider-thumb:hover{
    background-color: var(--reverse-color3);
}


#camera-move-set{
    display: none;
}


label[for="camera-move-set"]{
    display: block;
    min-height:2.6rem;
    max-height:2.6rem;
    padding: 0;
    text-align: center;
}


label[for="camera-move-set"]{
    transition: background-color var(--g-transition-time),color var(--g-transition-time), border-color var(--g-transition-time);
}


/***********************************************algorithm-select************************************************************************/


nav.algorithm-select{
    --padding-top:1.4rem;
    padding: var(--padding-top) 0 0 0;
    align-items: flex-end;
    align-self: flex-end;
}


.algorithm-select>label{
    padding: 0 0.9rem var(--padding-top) 0.9rem;
    font-size: 2.45rem;
    color: var(--reverse-color1);
    cursor: pointer;
}


nav.algorithm-select>label:hover{
    color: var(--main-color1);
    background-color: var(--reverse-color2);
}


input.switch:checked + .switch.text-black{
    color: var(--main-color1);
    background-color: var(--reverse-color2);
}


/***********************************************toggle dark/light themes*************************************************************/

.theme-button{
    height:70%;
    width:25px;
    padding:0;
    border: none;
    margin: 0 0 0 auto;
    justify-self:flex-end;
}


.theme-button-detect{
    padding:0;
    margin:0;
}


#theme-button-set{
    display: none;
}


.theme-button-detect{
    background-image:linear-gradient(180deg, var(--light-theme-color1) 70%, var(--dark-theme-color1));
    display: block;
    border:2px solid var(--dark-theme-color1);
    width: 100%;
    height:100%;
    position: relative;
    top:0;
    left:0;
    transition: background-image var(--g-transition-time), border-color var(--g-transition-time);
}


.theme-button-handle{
    background-color: var(--dark-theme-color1);
    position: absolute;
    left:1px;
    right:1px;
    top:1px;
    bottom:calc((100% - 1px - 20px));
    transition: bottom var(--g-transition-time), top var(--g-transition-time), background-color var(--g-transition-time);
}


#theme-button-set:checked + .theme-button-detect{
    background-image:linear-gradient(0deg, var(--dark-theme-color1) 70%, var(--light-theme-color1));
    border-color:var(--light-theme-color1);
}


#theme-button-set:checked + .theme-button-detect>.theme-button-handle{
    background-color: var(--light-theme-color1);
    bottom:1px;
    top:calc((100% - 1px - 20px));
}