header{
    --max-children-height:70%;
    height:var(--header-height);
    padding:4px 15px 0 15px;
    background-color: var(--main-color1);
    border-bottom: 4px solid var(--reverse-color1);
    transition: background-color var(--g-transition-time), border-color var(--g-transition-time);
    justify-content: flex-start;
}


header>*{
    border: 0px solid red;
    height:70%;
}


header>.divider-vertical{
    background-color: var(--reverse-color1);
    width:3px;
    height:80%;
    margin:0;
    padding:0;
    border: none;
    transition: background-color var(--g-transition-time);
}


.header-nav{
    height:var(--max-children-height);
    position:relative;
    top:0;
    left:0;
}


.header-nav:nth-child(1){
    width:35%;
}


.header-nav:nth-child(2){
    width:30%;
}


#graph-nav, #control-nav{
    list-style: none;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}


.header-nav-li{
    --border-width:3px;

    background-color: var(--main-color1);
    width:100%;
    min-width:100px;
    height:80%;
    min-height:2.2rem;
    padding:0;
    margin: 0 7px;
    text-align: center;
    font-size:2rem;
    color:var(--reverse-color1);
    position:relative;
    top:0;
    left:0;
}


.nav-li-text-div{
    --width:calc(100% + 2 * var(--border-width));
    background-color: var(--main-color1);
    width:var(--width);
    min-width:var(--width);
    height:100%;
    border-width:var(--border-width);
    border-style:solid;
    border-color:transparent;
    text-decoration: overline;
    position:relative;
    top:0;
    left:0;
    transition: background-color var(--g-transition-time), border-color var(--g-transition-time), color var(--g-transition-time);
}


.header-nav-li>input[type="checkbox"]{
    display: none;
}


.nav-li-text-div>label{
    display: block;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}


.header-nav-li:hover>.nav-li-text-div, .nav-li-text-div:hover, .header-nav-li>input[type="checkbox"]:checked + .nav-li-text-div{
    background-color: var(--reverse-color1);
    color:var(--main-color1);
    border-color: var(--reverse-color1);
}


.header-nav-li>input[type="checkbox"]:checked + .nav-li-text-div{
    text-decoration: underline;
}


.nav-li-popup{
    background-color: var(--main-color1);
    width:calc(100% + 2 * var(--border-width));
    padding: 0.1rem 0 1.3rem 0;
    margin: 0;
    border: var(--border-width) solid var(--reverse-color1);
    position:absolute;
    top:calc(100%);
    left:calc(0%);
    transform:scaleY(0);
    transform-origin: bottom center;
    transform-origin: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s, background-color var(--g-transition-time), border-color var(--g-transition-time), color var(--g-transition-time);
    z-index:50;
}


.nav-li-popup>*{
    width:92%;
    margin:0.7rem 0 0 0;
    color:var(--reverse-color1);
    border: 2px solid var(--reverse-color1);
    transition:background-color var(--g-transition-time), border-color var(--g-transition-time), color var(--g-transition-time);
}


.nav-li-popup>*.dummy-container{
    border:none;
    padding:0;
    justify-content: space-between;
}


.nav-li-popup>hr{
    border-bottom:none;
}


.nav-li-popup-box{
    border: 2px solid var(--reverse-color1);
}


.header-nav-li:hover>.nav-li-popup, .nav-li-popup:hover, .header-nav-li>input[type="checkbox"]:checked ~ .nav-li-popup{
    transform:scaleY(1);
}


.graph-update, .vertices-input, .nav-li-button{
    background-color: var(--main-color1);
    min-height:calc(2rem + 2px * 2);
    border-radius: 0;
    padding:0;
    outline: none;
    font-size: 1.4rem;
}


.nav-li-set-color{
    padding:0;
}


input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}


/**********************************************control panel class*************************************************/

.floating-panel, .floating-panel *{
    transition: background-color var(--g-transition-time),color var(--g-transition-time), border-color var(--g-transition-time);
}


.floating-panel{
    background-color: transparent;
    border: none;
    padding: 0;
    color:var(--reverse-color1);
    position: absolute;
    transform-origin: left top;
    transform: scale(0,0);
    transition: background-color var(--g-transition-time),color var(--g-transition-time), border-color var(--g-transition-time),transform var(--g-transition-time), opacity var(--g-transition-time);
    z-index:999;
    opacity:0;
}


.floating-panel-open{
    position: fixed;
    transform: scale(1,1);
    opacity: 1;
}


.floating-panel>*{
    width:100%;
    position:relative;
    top:0;
    left:0;
    padding:0;
}


.floating-panel>.panel-top{
    background-color: var(--reverse-color1);
    height:25%;
    min-height:5.2vh;
    max-height:5.4vh;
    border: 0;
    color:var(--main-color1);
}


.floating-panel>.panel-content{
    background-color: var(--main-color1);
    height:75%;
    border:2px solid var(--reverse-color1);
    border-top:none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.floating-panel>.panel-top:active{
    background-color: var(--reverse-color3);
}


.floating-panel>.panel-top>button{
    --margin:3px;
    background-color: var(--main-color3);
    border:0;
    margin:0;
    outline: none;
    text-align: center;
    color:var(--reverse-color1);
    position: absolute;
    top:var(--margin);
    bottom:var(--margin);
    right:var(--margin);
    aspect-ratio: 1;
}


.floating-panel>.panel-top>button:hover{
    background-color: color-mix(in srgb, red 70%, var(--reverse-color1) 30%);
}


/**********************************************Graph popup**********************************************************/

#graphupload{
    width:90%;
    min-height:2.6rem;
    max-height:2.6rem;
    background-color: var(--main-color1);
    font-size: 1.45rem;
}


#graphupload::file-selector-button{
    display: none;
}


#graph-VE-status{
    background-color: transparent;
    padding:0;
    height:5.4rem;
}

/**********************************************Vertex/Edge popup**********************************************************/

.graph-update-option{
    font-size: 1.4rem;
}

.vertices-input{
    display: block;
    background-color:var(--main-color3);
    color:var(--reverse-color0);
}


.vertices-input:invalid{
    border-color: red;
}


.nav-li-button:hover:not(:disabled){
    background-color: red;
}


#edge-edit-mode{
    display: none;
}


label[for="edge-edit-mode"]{
    font-size: 1.7rem;
}

/***********************************************Control / toggable label******************************************************************************/

#camera-move-set:checked + label[for="camera-move-set"], 
#show-algo-control:checked + label[for="show-algo-control"], 
#show-algo-state:checked + label[for="show-algo-state"], 
#partial-results-set:checked + label[for="partial-results-set"],
#edge-edit-mode:checked + label[for="edge-edit-mode"]{
    background-color:color-mix(in srgb,rgb(0, 170, 0) 70%,var(--main-color0) 30%);
}

/***********************************************Camera pop up************************************************************************/

#zoom-slider, #move-speed-control{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--main-color1);
    min-height:calc(2rem + 2px * 2);
    outline: none;
    transition: background-color var(--g-transition-time),border-color var(--g-transition-time);
    overflow: hidden;
}


#zoom-slider::-webkit-slider-thumb, #move-speed-control::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--reverse-color1);
    width:1.7rem;
    height:1.7rem;
    transition: background-color var(--g-transition-time);
    box-shadow: -1000px 0 0 1000px var(--main-color3);
}


#zoom-slider::-webkit-slider-thumb:hover, #move-speed-control::-webkit-slider-thumb:hover{
    background-color: var(--reverse-color3);
}


#camera-move-set{
    display: none;
}


label[for="camera-move-set"]{
    display: block;
    min-height:2.6rem;
    max-height:2.6rem;
    padding: 0;
    text-align: center;
}


label[for="camera-move-set"]{
    transition: background-color var(--g-transition-time),color var(--g-transition-time), border-color var(--g-transition-time);
}


/***********************************************Algo pop up**************************************************************************/

#from-shell-value, #to-shell-value{
    background-color: var(--main-color1);
    width:45%;
    height:100%;
    min-height:calc(2.2rem);
    border-radius: 0px;
    font-size:1.2rem;
    color:var(--reverse-color1);
    outline: none;
    transition: background-color var(--g-transition-time),color var(--g-transition-time), border-color var(--g-transition-time);
}


#run-algo:disabled, #stop-algo:disabled{
    opacity: 0.7;
}


#show-algo-control, #show-algo-state, #partial-results-set{
    display: none;
}


label[for="show-algo-control"], label[for="show-algo-state"]{
    display:block;
    width:100%;
    height:100%;
    position:relative;
    color:var(--reverse-color1);
    transition: background-color var(--g-transition-time), color var(--g-transition-time), border-color var(--g-transition-time);
}


label[for="partial-results-set"]{
    display:block;
    color:var(--reverse-color1);
    transition: background-color var(--g-transition-time), color var(--g-transition-time), border-color var(--g-transition-time);
}

/************************algo Control panel******************************/

#algo-control{
    width:30vw;
    height:17vh;
    top:calc(100% + 2px);
    left:-2px;
}


#algo-control>.panel-content{
    padding-top: 1vh;
}


#algo-control>.panel-content>*{
    margin:0;
}


#algo-control>.panel-content>.row-display{
    width:100%;
    height:60%;
    justify-content: space-evenly;
}


#algo-control>.panel-content>.row-display>*{
    width:30%;
}


#algo-speed-control{
    appearance: none;
    background-color: var(--main-color1);
    width:90%;
    height:40%;
    border: 2px solid var(--reverse-color1);
    overflow: hidden;
}


#algo-speed-control::-webkit-slider-thumb{
    appearance: none;
    background-color: var(--reverse-color1);
    height:1.7rem;
    width:1.7rem;
    box-shadow: -1000px 0 0 1000px var(--main-color3);
}


#algo-pause,#algo-nextStep{
    background-color:transparent;
    max-height:60%;
    border:2px solid var(--reverse-color1);
    text-align: center;
    color:var(--reverse-color1);
}


#algo-pause:hover,#algo-nextStep:hover{
    background-color: color-mix(in srgb, red 70%, var(--reverse-color1) 30%);
}


#algo-pause{

}


#algo-nextStep{

}

/******************************state panel********************/


#state-panel{
    width:25vw;
    height:30vh;
}


/***********************************************toggle dark/light themes*************************************************************/

.theme-button{
    height:var(--max-children-height);
    width:25px;
    padding:0;
    border: none;
    margin: 0 0 0 auto;
    justify-self:flex-end;
}


.theme-button-detect{
    padding:0;
    margin:0;
}


#theme-button-set{
    display: none;
}


.theme-button-detect{
    background-image:linear-gradient(180deg, var(--light-theme-color1) 70%, var(--dark-theme-color1));
    display: block;
    border:2px solid var(--dark-theme-color1);
    width: 100%;
    height:100%;
    position: relative;
    top:0;
    left:0;
    transition: background-image var(--g-transition-time), border-color var(--g-transition-time);
}


.theme-button-handle{
    background-color: var(--dark-theme-color1);
    position: absolute;
    left:1px;
    right:1px;
    top:1px;
    bottom:calc((100% - 1px - 20px));
    transition: bottom var(--g-transition-time), top var(--g-transition-time), background-color var(--g-transition-time);
}


#theme-button-set:checked + .theme-button-detect{
    background-image:linear-gradient(0deg, var(--dark-theme-color1) 70%, var(--light-theme-color1));
    border-color:var(--light-theme-color1);
}


#theme-button-set:checked + .theme-button-detect>.theme-button-handle{
    background-color: var(--light-theme-color1);
    bottom:1px;
    top:calc((100% - 1px - 20px));
}

