main{
    height: auto;
}


#graph-container>svg{
    background-color: var(--main-color1);
    transition: background-color var(--g-transition-time),color var(--g-transition-time), border-color var(--g-transition-time);
}


.graph-svg{
    border: 2px solid var(--reverse-color1);
}


.highlight-vertex{
    stroke:var(--reverse-color1);
    stroke-width: 2;
}