main{
    height:var(--main-height);
}


#graph-container>svg{
    background-color: var(--main-color1);
    transition: background-color var(--g-transition-time),color var(--g-transition-time), border-color var(--g-transition-time);
}